// COLORI
$color-primary: #272727;
$color-rosered: #F07C79;
$color-gray-light: #F3F3F3;

$color-feature-date: #838080;
$color-feature-txt: #464646;
$color-feature-title: #ED6562;
$color-tab-turchese: #28AFB0;
$color-tab-gialla: #E2CA40;

// SPAZI
$grid-width: 132.2rem;
$gutter-horiz: 2rem;
$gutter-vert: 2rem;

// FONT
$font-alt: 'Roboto', sans-serif;
