.position-box {
   position: absolute;
   bottom: 50%;

   @include respond(phone) {
      display: none;
   }
}

.slider-description {
   position: absolute;
   top: 50%;
   right: 50%;
   transform: translate(0, -50%);

   @include respond(phone) {
      display: none;
   }
}
