.container {
   position: relative;
   max-width: 144rem;
   margin: auto;
}

.header {
   position: fixed;
   height: 12rem;
   max-width: 144rem;
   width: 100%;
   margin-left: -15px;
   display: flex;
   justify-content: center;
   z-index: 10;

   &__box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 132rem;
      width: 100%; 
   }
} 
