.carousel-indicators {
  display: none;

  @include respond(phone) {
    display: flex;
    z-index: 1;
  }

  li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 2.849rem;
  height: 4.566rem;
  margin-top: 8rem;

  @include respond(phone) {
    display: none;
  }
}

.carousel-control-prev-icon {
  background-image: url("../img/chevron sinistra.svg");
}

.carousel-control-next-icon {
  background-image: url("../img/chevron destra.svg");
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
  transition: all 0s ease 0s;
}

.slider-description {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  text-align: left;
  width: 54.7rem;
  height: 50rem;

  &__text {
    font-size: 2rem;
    flex: 0 0 30%;

    &--mobile {
      font-size: 1.7rem;
      padding-top: 2rem;
    }
  }

  &__mobile {
    display: none;

    @include respond(phone) {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      background-color: $color-primary;
      color: white;
      height: 40rem;
      padding: 3.2rem;
    }
  }
}

.heading__primary {
  flex: 0 0 70%;
  margin-bottom: 0;

  @include respond(phone) {
    flex: 0 0 30%;
  }
}
